[defaults]
inventory = inventory/production
roles_path = roles
host_key_checking = False  # Homelab 常重灌，關閉檢查比較方便
pipelining = True          # 加速執行

[ssh_connection]
# 這裡可以設定 ProxyCommand 或 SSH 參數
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
